<% if(error) { %>
    <div class="ui warning message">
        <i class="close icon"></i>
        <div class="header">
            Error
        </div>
        <strong><p><%= error %></p></strong>
    </div>
<% } %>