<% layout('layouts/boilerplate') -%>

<section id="main-showcase">
    <div id="main-showcase-inner" class="ui grid">
        <div class="six wide column"></div>
        <div class="six wide column ui left aligned container">
            <h1 style="padding-top: 2rem; font-size: 3rem">Welcome to Our Blog App!</h1>
            <% if(user) { %>
                <h2>Welcome back, <span style="color: #3BBFB4"><%= user.name %></span>!</h2>
            <% } %>
        </div>
    </div>
</section>