<% layout('layouts/boilerplate') -%>

<h1>Welcome To Our Posts Page!</h1>
<a href="posts/new"><h2>Create New Post</h2></a>

<% posts.forEach(function(post) { %>
    <div>
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
        <img src="<%= post.image %>" alt="Blog post picture">
        <small><p><%= post.created %></p></small>
    </div>
<% }); %>